@model Item

@{
    ViewData["Title"] = Model.Nombre;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a @Model.Nombre</h1>
    <p>Consulta la información de los items del juego y accede a sus contenidos.</p>
</div>

<div class="container mt-4">
    <h2>Información de la Misión</h2>
    <ul>
        <li><strong>Nombre:</strong> @Model.Nombre</li>
        <li><strong>IdElem:</strong> @Model.IdElem</li>
        <li><strong>Descripción:</strong> @Model.Descripcion</li>
        <li><strong>Imagen:</strong> @Model.Imagen</li>
    </ul>
</div>