@model Juego

@{
    ViewData["Title"] = Model.Nombre;
    var idJuego = Model.Id;
    int progresoMision = TempData["progresomision"] as int? ?? 0;
    int progresoitem = TempData["progresoitem"] as int? ?? 0;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a @Model.Nombre</h1>
    <p>Consulta la información del juego y accede a sus contenidos.</p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <form method="post" asp-controller="Home" asp-action="ModificarElemento" asp-route-tipo="Juego" asp-route-idelemento=@Model.Id>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-secondary btn-sm mt-2 mb-2 w-50">Modificar juego: @Model.Nombre</button>
            </form>
        }
    }
</div>

<div class="container mt-4">
    @if (!string.IsNullOrEmpty(Model.Imagen))
    {
        <img src="@Model.Imagen" alt="Imagen de @Model.Nombre" class="img-fluid rounded mt-2" style="max-width: 400px; height: auto;" />
    }
    <h2>Información del Juego</h2>
    <ul class="list-unstyled">
        <li><strong>Nombre:</strong> @Model.Nombre</li>
        <li><strong>IdElem:</strong> @Model.IdElem</li>
        <li><strong>Descripción:</strong> @Model.Descripcion</li>

    </ul>



    <h2>Secciones disponibles</h2>
    <div class="row m-5 justify-content-center text-center">
        <div class="col-md-3">
            <a asp-controller="Home" asp-action="Misiones" asp-route-id="@idJuego">Ver Misiones</a>
            @if (progresoMision >= 0)
            {
                <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="@TempData["progresomision"]" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: @TempData["progresomision"]%">@TempData["progresomision"]%</div>
                </div>
            }else
            {
                <p>¡Vamos empiezate una partida!</p>
            }

        </div>
        <div class="col-md-3">
            <a asp-controller="Home" asp-action="Items" asp-route-id="@idJuego">Ver Ítems</a>
            @if (progresoitem >= 0)
            {
                <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="@TempData["progresoitem"]" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: @TempData["progresoitem"]%">@TempData["progresoitem"]%</div>
                </div>
            }else
            {
                <p>¡Vamos empiezate una partida!</p>
            }
        </div>
        <div class="col-md-3">
            <a asp-controller="Home" asp-action="Trucos" asp-route-id="@idJuego">Ver Truco</a>
        </div>

    </div>
</div>

<div id="seccion-de-comentarios-juego-@Model.Id" class="seccion-de-comentarios-wrapper" data-tipo-entidad="Juego" data-entidad-id="@Model.Id" data-entidad-JuegoId="@Model.Id">
    @* El contenido se cargará aquí vía JS *@
    <p>Cargando comentarios...</p>
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/js/comentarios.js" asp-append-version="true"></script>
}