@model Mision

@{
    ViewData["Title"] = Model.Nombre;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a @Model.Nombre</h1>
    <p>Consulta la información de las misiones del juego y accede a sus contenidos.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="MarcarCompletada" asp-controller="GestionUsuario" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="hidden" name="tipo" value="Item" />
            <button type="submit" class="btn btn-success">Marcar como completada</button>
        </form>
    }
</div>

<div class="container mt-4">
    <h2>Información de la Misión</h2>
    <ul class="list-unstyled">
        <li><strong>Nombre:</strong> @Model.Nombre</li>
        <li><strong>IdElem:</strong> @Model.IdElem</li>
        <li><strong>Descripción:</strong> @Model.Descripcion</li>
        <li><strong>Imagen:</strong> @Model.Imagen</li>
        <li><strong>Tipo de mision:</strong> @Model.TipoQuest</li>
    </ul>
</div>