@model MisionViewModel
@{
    ViewData["Title"] = Model.Nombre;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a @Model.Nombre</h1>
    <p>Consulta la información de las misiones del juego y accede a sus contenidos.</p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <form method="post" asp-controller="Home" asp-action="ModificarElemento" asp-route-tipo="Mision" asp-route-idelemento=@Model.Id>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-secondary btn-sm mt-2 mb-2 w-50">Modificar Mision: @Model.Nombre</button>
            </form>
        }
    }
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="MarcarCompletada" asp-controller="GestionUsuario">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="hidden" name="tipo" value="Item" />
            @if (@Model.Completada)
            {
                <form asp-controller="GestionUsuario" asp-action="MarcarCompletada" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="juegoId" value="@Model.idJuego" />
                    <input type="hidden" name="misionId" value="@Model.Id" />
                    <input type="hidden" name="check" value=true />
                    <button type="submit" class="btn btn-danger btn-sm mt-2 mb-2 w-50">Desmarcar como completada</button>
                </form>                
            }
            else if (!(@Model.Completada))
            {
                <form asp-controller="GestionUsuario" asp-action="MarcarCompletada" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="juegoId" value="@Model.idJuego" />
                    <input type="hidden" name="misionId" value="@Model.Id" />
                    <input type="hidden" name="check" value=false />
                    <button type="submit" class="btn btn-success btn-sm mt-2 mb-2 w-50">Marcar como completada</button>
                </form>
            }
        </form>
    }
</div>
@if (!string.IsNullOrEmpty(Model.Imagen))
{
    <img src="@Model.Imagen" alt="Imagen de @Model.Nombre" class="img-fluid rounded mt-2" style="max-width: 400px; height: auto;" />
}
<div class="container mt-4">
    <h2>Información de la Misión</h2>
    <ul class="list-unstyled">
        <li><strong>Nombre:</strong> @Model.Nombre</li>
        <li><strong>IdElem:</strong> @Model.IdElem</li>
        <li><strong>Descripción:</strong> @Html.Raw(Model.Descripcion)</li>
        <li><strong>Tipo de mision:</strong> @Model.TipoQuest</li>
    </ul>
</div>

@* Sección de Comentarios para la Misión *@
<div id="seccion-de-comentarios-mision-@Model.Id" class="seccion-de-comentarios-wrapper" data-tipo-entidad="Mision" data-entidad-id="@Model.Id" data-entidad-JuegoId="@Model.idJuego">
    <p>Cargando comentarios...</p>
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/js/comentarios.js" asp-append-version="true"></script>
}