@model Truco

@{
    ViewData["Title"] = Model.Nombre;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a @Model.Nombre</h1>
    <p>Consulta la información de los trucos del juego.</p>
</div>

<div class="container mt-4">
    <form asp-action="ModificarTruco" method="post">
        <div class="form-group">
            <label asp-for="JuegoId"></label>
            <input asp-for="JuegoId" class="form-control" value="@Model.JuegoId" readonly />
            <span asp-validation-for="JuegoId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdElem"></label>
            <input asp-for="IdElem" class="form-control" value="@Model.IdElem" />
            <span asp-validation-for="IdElem" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" value="@Model.Nombre" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" class="form-control" value="@Model.Descripcion"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Trucos"></label>
            <input asp-for="Trucos" class="form-control" value="@Model.Trucos" />
            <span asp-validation-for="Trucos" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Truco</button>
    </form>
</div>